<ion-header>

  <ion-navbar>
    <ion-title ng-if="result">Sign Up</ion-title>
    <ion-title ng-if="!result">Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>Name</ion-label>
    <ion-input [(ngModel)]="this.name"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label color="primary" floating>Email</ion-label>
    <ion-input [(ngModel)]="this.email"></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label color="primary" floating>Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="this.phone"></ion-input>
  </ion-item>
</ion-content>
